.test {
width: 600px; /* устанавливаем ширину блока */
height: 300px;  /* устанавливаем высоту блока */
border-radius: 180px;  /* определяем форму углов элемента */
position: relative;  /* элемент с относительным позиционированием (position:static - по умолчанию и, как следствие, значение свойства left не повлияли бы на позиционирование элемента) */
-webkit-animation: iliketomoveit 5s infinite;  /*  для поддержки ранних версий браузеров */
animation: iliketomoveit 5s infinite;  /* задаём имя анимации (соответствует имени назначенному в ключевых кадрах), продолжительность анимации и указываем, что анимация будет повторяться бесконечно  */
} 
@keyframes iliketomoveit {
        0%   {right: 0px;} 
        25%  {right: -200px; background: rgb(245, 77, 208);} 
        50%  {right: -400px;} 
        75% {right: -200px; background: rgb(187, 0, 255);} 
        85% {right: -400px;}
        100% {right: -200px; background: rgb(57, 183, 238);}
        }
